@{
    Layout = "_LoginLayout";
}

@using JoygameProject.Web.ViewModels
@model ForgotPasswordViewModel

<h2>Şifremi Unuttum</h2>

<form asp-action="ResetPasswordRequest" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email adresiniz</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning">Sıfırlama Maili Gönder</button>
</form>
